<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/admin/adminHeader::html('编辑产品')" ></head>
<body>
<div th:replace="include/admin/adminNavigator::html" ></div>
<script>
    $(function(){
        var data4Vue = {
            uri:'products',   //获取list数据的路径
            listURL:'admin_product_list',
            bean:'',    //单条数据存放产品信息
            category:'',
        };
        //ViewModel
        var vue = new Vue({
            el: '#workingArea',  //挂载调用
            data: data4Vue,     //list数据赋值
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.get();       //从数据库取数据
            },
            methods: {
                get:function(){
                    var id = getUrlParms("id");
                    var url =  this.uri+"/"+id;
                    axios.get(url).then(function(response) {
                        //产品里的数据
                        vue.bean = response.data;
                        vue.category = vue.bean.category;

                    });
                },
                //修改
                update:function () {
                    if(!checkEmpty(this.bean.name,"产品名称"))
                        return;
                    var url = this.uri + "/" +this.bean.id;
                    //axios.js 上传文件要用 FormData
                    axios.put(url,vue.bean).then(function (response) {
                        location.href = vue.listURL+"?cid="+vue.category.id;
                    })
                }
            }
        });
    })

</script>
<div id="workingArea" >

    <ol class="breadcrumb">
        <li><a href="admin_category_list">所有分类</a></li>
        <li><a :href="'admin_product_list?cid='+category.id">返回</a></li>
        <li class="active">产品管理</li>
    </ol>
    <div class="panel panel-warning addDiv">
        <div class="panel-heading">编辑产品</div>
        <div class="panel-body">
            <table class="editTable">
                <tr>
                    <td>产品名称</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.name" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>产品小标题</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.subTitle" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>原价格</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.originalPrice" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>优惠价格</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.promotePrice" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>库存</td>
                    <td><input @keyup.enter="add" v-model.trim="bean.stock" type="text" class="form-control"></td>
                </tr>
                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <input type="hidden" name="id" v-model.trim="bean.id" >
                        <a href="#nowhere"  @click="update" class="btn btn-success">提交</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>